{% extends '@HillrangeSecurity/base.html.twig' %}

{% trans_default_domain 'security' %}

{% block title %}{{ 'security.logout.logout.label'|trans }} - {{ parent() }}{% endblock %}
{% block body %}
    <h1>{{ 'security.logout.logout.label'|trans }}</h1>
{% endblock %}




